{% extends "base_template.html" %}

{% block content %}
    <div class="container">
            <div class="col-md-10 offset-md-1 mt-5">
              <div class="jumbotron">
                <h1 class="display-4">Book Register</h1>
                <p class="lead font-italic">Create,update or delete Authors</p>
                <hr class="my-4">
                <table class="table table-borderless">
          <thead class="border-bottom font-wight-bold">
            <tr>
              <td>Name</td>
              <td>Surname</td>
              <td>Patronymic</td>
              <td>
                <a href="{% url 'create_author' %}" class="btn btn-outline-success"><i class="fas fa-plus"></i> Add New</a>
              </td>
            </tr>
          </thead>
            <tbody>
              {% if all_author %}
                {% for author in all_author %}
                <tr>
                  <td>{{author.name}}</td>
                  <td>{{author.surname}}</td>
                  <td>{{author.patronymic}}</td>
                  <td>
                    <a href="{% url 'author-update' author.id %}" class="btn text-secondary px-0">
                      <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'author-delete' author.id %}" method="post" class="d-inline">
                      {% csrf_token %}
                      <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                      </button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <h1>Нажаль наданий момент не створено ні одного втора :(</h1>
              {% endif %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
