<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Lviv Labrary</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Головна</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'books' %}">Книги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'authors' %}">Автори</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'orders' %}">Замовити</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'users' %}">Реєстрація</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Шукати" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Пошук</button>
      </form>
    </div>
  </div>
</nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
	<div class="page" style ="
		display: flex;
		flex-direction: column;
		min-height: 50vh;
	" >
	  <footer class="blog-footer" style="
		padding: 1px 0;
	  color: #727272;
	  text-align: center;
	  background-color: #f9f9f9;
	  border-top: .1rem solid #e5e5e5;
		overflow: hidden;
	  /* display: flex; */
	  /* flex-direction: column;  */
	  /* min-height: 100vh; */
		/* position: absolute; */
	  bottom: 0;
		margin-top: auto;
	  width: 100%;">
	  <p>Lviv Labrary for out reader</p>
	    <a href="{% url 'index' %}">Back to main</a>
	  </p>
	  </footer>
	</div>
</body>
</html>
